

.playerIcon {
    height:80px;
    padding: 20px 20px;
    /* grid-column-start: 1; 
    grid-column-end: 2;   */
    border: 1px solid white;
  
  }
  
  .musicIcons {
    /* padding: 20px 0; */
    height:80px;
    padding-top: 30px;
    padding-bottom : 30px;
    padding-left : 30px;
    padding-right: 30px;
  
    /* background-color: black; */
    border: 1px solid white;
  
  }
  
  .trackSection {
    flex-direction: column;
    align-self: flex-start;
  }
  
  
  .trackListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .tracks {
    display: grid;
    width:max-content;
    grid-template-columns: repeat(5, auto);
  }